<!doctype html>
<html>

<head>
    <title>Kanban Board</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/paper.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <nav class="border split-nav">
            <div class="nav-brand">
                <h3><a href="#">Kanban Board</a></h3>
            </div>
            <% if(user.email) { %>
                <div class="collapsible">
                    <input id="collapsible1" type="checkbox" name="collapsible1">
                    <label for="collapsible1">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </label>
                    <div class="collapsible-body">
                        <ul class="inline">
                            <li><a href="#">
                                    <%= user.name %>
                                </a></li>
                            <li><a href="/unlink">Unlink</a></li>
                            <li><a href="/auth/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <% } %>
        </nav>
    </header>
    <main>
        <div class="board child-borders">
            <section class="todo border">
                <h1>Todo <i class="fa fa-plus-square" aria-hidden="true"></i></h1>
                <ul class="drop-zone">
                    <% cards.forEach( card=> {%>
                        <% if(card.status==='todo' ){ %>
                            <li class="card" draggable="<%= card.author.id === userId %>" data-id="<%= card._id%>">
                                <div class="info">
                                    <small>
                                        <%= new Date(card.dateOfCreation).toLocaleDateString('en-US') %>
                                    </small>
                                    <div>
                                        <% if(card.author.id===userId) { %>
                                            <i class="fa-solid fa-trash"></i>
                                            <% };%>
                                    </div>
                                </div>
                                <p>
                                    <%= card.title%>

                                </p>
                                <small class="user">By <%= card.author.name %></small>
                            </li>
                            <% } %>
                                <% });%>
                </ul>
            </section>
            <section class="wip border">
                <h1>WIP <i class="fa fa-plus-square" aria-hidden="true"></i></h1>
                <ul class="drop-zone">
                    <% cards.forEach( card=> {%>
                        <% if(card.status==='wip' ){ %>
                            <li class="card border" draggable="<%= card.author.id === userId %>"
                                data-id="<%= card._id%>">
                                <div class="info">
                                    <small>
                                            <%= new Date(card.dateOfCreation).toLocaleDateString('en-US') %>
                                    </small>
                                    <div>
                                        <% if(card.author.id===userId) { %>
                                            <i class="fa-solid fa-trash"></i>
                                            <% };%>
                                    </div>
                                </div>
                                <p>
                                    <%= card.title%>
                                </p>
                                <small class="user">By <%= card.author.name %></small>
                            </li>
                            <% } %>
                                <% });%>
                </ul>
            </section>
            <section class="done border">
                <h1>Done <i class="fa fa-plus-square" aria-hidden="true"></i></h1>
                <ul class="drop-zone">
                    <% cards.forEach( card=> {%>
                        <% if(card.status==='done' ){ %>
                            <li class="card" draggable="<%= card.author.id === userId %>" data-id="<%= card._id%>">
                                <div class="info">
                                    <small>
                                            <%= new Date(card.dateOfCreation).toLocaleDateString('en-US') %>
                                    </small>
                                    <div>
                                        <% if(card.author.id===userId) { %>
                                            <i class="fa-solid fa-trash"></i>
                                            <% };%>
                                    </div>
                                </div>
                                <p>
                                    <%= card.title%>
                                </p>
                                <small class="user">By <%= card.author.name %></small>
                            </li>
                            <% } %>
                                <% });%>
                </ul>
            </section>
        </div>

    </main>
    <footer class="team border">
        <h3>Current team:</h3>
        <div class="child-borders">
            <% users.forEach(u=> { %>
                <h3 class="border">
                    <%= u.name %>
                </h3>
                <% }); %>
        </div>

    </footer>

</body>
<script src="https://kit.fontawesome.com/a9b54c7280.js" crossorigin="anonymous"></script>
<script src="/main.js"></script>

</html>