<!doctype html>
<html>

<head>
    <title>Kanban Board</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/paper.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <nav class="border split-nav">
            <div class="nav-brand">
                <h3><a href="#">Kanban Board</a></h3>
            </div>
            <% if(user.email) { %>
                <div class="collapsible">
                    <input id="collapsible1" type="checkbox" name="collapsible1">
                    <label for="collapsible1">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </label>
                    <div class="collapsible-body">
                        <ul class="inline">
                            <li><a href="#">
                                    <%= user.name %>
                                </a></li>
                            <li><a href="/unlink">Unlink</a></li>
                            <li><a href="/auth/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <% } %>
        </nav>
    </header>
    <main>
        <div class="board">

            <section class="todo">
                <h1>Todo <i class="fa fa-plus-square" aria-hidden="true"></i></h1>
                <ul class="drop-zone">
                    <% cards.forEach( card=> {%>
                        <% if(card.status==='todo' ){ %>
                            <li class="card" draggable="<%= card.author.id === userId %>" data-id="<%= card._id%>">
                                <p>
                                    <%= card.title%>
                                </p>
                                <small>
                                    <%= card.author.name%>
                                        <%= card.status%>
                                </small> <!-- pupulate did this -->
                                <small>Created on: <%= new Date(card.dateOfCreation).toLocaleDateString('en-US') %>
                                </small>
                                <% if(card.author.id===userId) { %>
                                    <i class="fa fa-trash delete-icon" aria-hidden="true"></i>
                                    <% };%>
                            </li>
                            <% } %>
                                <% });%>
                </ul>
            </section>
            <section class="wip">
                <h1>WIP <i class="fa fa-plus-square" aria-hidden="true"></i></h1>
                <ul class="drop-zone">
                    <% cards.forEach( card=> {%>
                        <% if(card.status==='wip' ){ %>
                            <li class="card border" draggable="<%= card.author.id === userId %>" data-id="<%= card._id%>">
                                <p>
                                    <%= card.title%>
                                </p>
                                <small>
                                    <%= card.author.name%>
                                        <%= card.status%>
                                </small> <!-- pupulate did this -->
                                <small>Created on: <%= new Date(card.dateOfCreation).toLocaleDateString('en-US') %>
                                </small>
                                <% if(card.author.id===userId) { %>
                                    <i class="fa fa-trash delete-icon" aria-hidden="true"></i>
                                    <% };%>
                            </li>
                            <% } %>
                                <% });%>
                </ul>
            </section>
            <section class="done">
                <h1>Done <i class="fa fa-plus-square" aria-hidden="true"></i></h1>
                <ul class="drop-zone">
                    <% cards.forEach( card=> {%>
                        <% if(card.status==='done' ){ %>
                            <li class="card" draggable="<%= card.author.id === userId %>" data-id="<%= card._id%>">
                                <p>
                                    <%= card.title%>
                                </p>
                                <small>
                                    <%= card.author.name%>
                                        <%= card.status %>
                                </small> <!-- pupulate did this -->
                                <small>Created on: <%= new Date(card.dateOfCreation).toLocaleDateString('en-US') %>
                                </small>
                                <% if(card.author.id===userId) { %>
                                    <i class="fa fa-trash delete-icon" aria-hidden="true"></i>
                                    <% };%>
                            </li>
                            <% } %>
                                <% });%>
                </ul>
            </section>
        </div>

    </main>
    <footer class="row flex-center child-borders margin">
        <% users.forEach(u=> { %>
            <div class="sm-2 col">
                <%= u.name %>
            </div>
            <% }); %>
    </footer>

</body>
<script src="/main.js"></script>

</html>